{% extends 'base.html' %}
{% load static %}
{% load test_tags %}
{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div id="content-to-pdf" class="card shadow-sm bg-light" data-aos=zoom-in data-aos-delay="100"
    style="border-radius: 10px; flex-wrap:nowrap;">
    <div class="card text-center">
      <div class="card-header">
        تحلیل
      </div>

      <div class="card-body">
        <h5 class="card-title">نتیجه آزمون {{ user_test_result.test.title }}</h5>
        <p class="card-text">کاربر: {{ user_test_result.user.username }}</p>
        <p class="card-text">تاریخ تکمیل: {{ user_test_result.completed_at }}</p>

        {% for category, data in analysis.items %}
        <div class="list-group">
          <a class="list-group-item list-group-item-action" style="list-style-type:none; font-family: Vazirmatn;">
            {{ category }}
            {% with average=category_averages|dict_get:category %}
            {{ average }}
            {% if average > data.category.normal_threshold %}
            - وضعیت: طبیعی
            {% elif average > data.category.monitoring_threshold %}
            - وضعیت: منطقه پایش
            {% else %}
            - وضعیت: نیاز به ارجاع
            {% endif %}
            {% endwith %}
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="card-footer text-muted">
        <button id="download-pdf" class="btn btn-primary" style="font-size: 15px;">دانلود فایل گزارش</button>
      </div>
    </div>
  </div>
</div>

<!-- افزودن jsPDF و html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script>
  document.getElementById('download-pdf').addEventListener('click', function () {
    const { jsPDF } = window.jspdf;

    html2canvas(document.querySelector('#content-to-pdf')).then(canvas => {
      const imgData = canvas.toDataURL('image/png');
      const pdf = new jsPDF({
        orientation: 'portrait',
        unit: 'pt',
        format: 'a4'
      });
      const imgProps = pdf.getImageProperties(imgData);
      const pdfWidth = pdf.internal.pageSize.getWidth();
      const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;

      pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
      pdf.save('report.pdf');
    });
  });
</script>
{% endblock %}